<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/fileupload.css">
    <title>파일업로드</title>
</head>
<body>
    <form action="upload" method="post" enctype="multipart/form">
        <div class="box" multiple type="file" onChange="this.handleChangeFile">
            <span>🥽drag in here</span>
        </div>
        <input type="file" id="file" multipart="multipart/form-data" onChange={this.handleChangeFile}>
        <input type="submit" value="submit">
    </form>
<script src="../js/fileupload.js"></script>
</body>
</html>