@font-face {
  font-family: 'TTWanjudaedunsancheB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/TTWanjudaedunsancheB.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* 기본 옵션 */
body {
  font-family: 'TTWanjudaedunsancheB';
}

a {
  text-decoration: none;
}

/* 네비게이션바 */

.menubar {
  width: 10%;
  height: 200px;
  margin-top: 20px;
  padding: 20px;
  overflow: scroll;
  border: 1px solid blanchedalmond;
}
/* 스크롤바 가리기 */
.menubar::-webkit-scrollbar {
  display: none;
}

.nav .hide {
  display: none;
}

.dd {
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.dd:hover {
  transform: rotate(90deg);
  transition: all 0.1s;
}

.dd:not(:hover) {
  transition: all 0.1s;
}

li:hover {
  transition: 0.1s;
  font-size: 1.2em;
}

li:not(:hover) {
  transition: all 0.1s;
}

/* 버튼 */
.btn {
  min-width: 80px;
  min-height: 30px;;
  border: 1px solid black;
  transition: all 0.1s;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  /* 애니메이션 효과 */
  transition: 0.1s;
  /* font-size: 1.2em; */
  /* 테두리 */
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}